* { 
	font-size: 12pt;
	color: rgba(140, 40, 0, 0.9);
}
QPushButton {
	padding: 20 50;
}


QToolTip {
	/*color: rgb(255, 255, 255);*/
	/*background-color: rgb(20, 20, 20);*/
	border: 1px solid white; } 
