
         QPushButton { 
             font-size: 10pt;
             color: white;
             background: rgb(140, 40, 0);
             padding: 10; }

         QToolTip { color: rgb(255, 255, 255);
             background-color: rgb(20, 20, 20);
             border: 1px solid white; } 
